body {
    background-color: #3E4547;
    margin: 0;
    padding: 0;
}

.NavBar {
    background-color: #5C96AD;
    height: max-content;
}

.TitelName {
    font-size: 50px;
    padding: 50px;
    width: 296px;
    height: 50px;
    display: grid;
    align-content: center;
}

.container {
    display: flex;
    height: calc(100vh - max-content);
}

.Sidebar {
    width: 400px;
    height: 584px;
    background-color: #59717A;
    display: grid;
}

#links {
    display: grid;
    color:blue
}
#links:active {
    color: white;
}

a {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    column-rule: white;

}



.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E4547;
}

.centered-object {
    height: 500px;
    width: 1000px;
    background-color: #49B4E0;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button {
    padding: 10px;
    background-color: #5C96AD;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3E4547;
}
.social-links {
    margin-top: 20px;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    font-size: 30px;
    color: #3E4547;
    text-decoration: none;
}

.social-links a:hover {
    color: #5C96AD;
}
img{
    width: 200px;
    height: 200px;
}
h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
table{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}